@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?1beef040d4d51b23187d751a8736f3ee") format("truetype"),
url("./flaticon.woff?1beef040d4d51b23187d751a8736f3ee") format("woff"),
url("./flaticon.woff2?1beef040d4d51b23187d751a8736f3ee") format("woff2"),
url("./flaticon.eot?1beef040d4d51b23187d751a8736f3ee#iefix") format("embedded-opentype"),
url("./flaticon.svg?1beef040d4d51b23187d751a8736f3ee#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-smartphone:before {
    content: "\f101";
}
.flaticon-walkie-talkie:before {
    content: "\f102";
}
.flaticon-investigate:before {
    content: "\f103";
}
.flaticon-protection:before {
    content: "\f104";
}
