$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?1beef040d4d51b23187d751a8736f3ee") format("truetype"),
url("./flaticon.woff?1beef040d4d51b23187d751a8736f3ee") format("woff"),
url("./flaticon.woff2?1beef040d4d51b23187d751a8736f3ee") format("woff2"),
url("./flaticon.eot?1beef040d4d51b23187d751a8736f3ee#iefix") format("embedded-opentype"),
url("./flaticon.svg?1beef040d4d51b23187d751a8736f3ee#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "smartphone": "\f101",
    "walkie-talkie": "\f102",
    "investigate": "\f103",
    "protection": "\f104",
);

.flaticon-smartphone:before {
    content: map-get($flaticon-map, "smartphone");
}
.flaticon-walkie-talkie:before {
    content: map-get($flaticon-map, "walkie-talkie");
}
.flaticon-investigate:before {
    content: map-get($flaticon-map, "investigate");
}
.flaticon-protection:before {
    content: map-get($flaticon-map, "protection");
}
